footer
  .container
    .row.justify-content-center  
    p iGEM MIT MAHE
    p Manipal Institute of Technology, Manipal
    p Manipal Academy of Higher Education
    p Eashwar Nagar, Manipal, Karnataka, India
    .row.justify-content-center
      a.gmail(href='mailto:manipalbiomachines.igem@gmail.com') 
      a.insta(href='https://instagram.com/manipalbiomachines' target="_blank" rel="noopener")
      a.twitter(href='https://twitter.com/m_biomachines' target="_blank" rel="noopener")