- var navItems = [{'section': 'TEAM', 'items': [{'title': 'TEAM', 'link': 'Team'}, {'title': 'ATTRIBUTIONS', 'link': 'Attributions'}, {'title': 'COLLABORATIONS', 'link': 'Collaborations'}]}, {'section': 'PROJECT', 'items': [{'title': 'CONTRIBUTION', 'link': 'Contribution'}, {'title': 'DESCRIPTION', 'link': 'Description'}, {'title': 'EXPERIMENTATION', 'link': 'Experimentation'}, {'title': 'MODEL', 'link': 'Model'}, {'title': 'PARTS', 'link': 'Parts'}, {'title': 'SAFETY', 'link': 'Safety'}, {'title': 'HARDWARE', 'link': 'Hardware'}]}, 'Implementation', 'Human Practices', {'section': 'AWARDS', 'items': [{'title': 'MEDALS', 'link': 'Medals'}, {'title': 'SPECIAL PRIZES', 'link': 'Special_Prizes'}]}, 'Judging Form']

mixin fakemixin()
    p