extends ../templates/contents.pug

block headVars
    - var title = "Attributions"
    - var tagline = "This page gives due credit to everyone who helped shape this project."
    - var requireMathJax = false

block article

    :markdown-it(html)

        # Mentors
        **Principal Investigator** - Dr. Ritu Raval.

        **Secondary PI** - Dr. Praveen Kumar.

        **iGEM Mentor** - Ugne Baronaite.
        
        **iGEM Asia Ambassador** - Varsha Jaisimha.
        ### Doctors
        Dr. Sudha Somayaji, Dr. Saran Kumar.
        ### Engineers
        Dr. Keyur Raval, Ms. Archana Mahadev Rao, Dr. Subbalaxmi Selvaraj.
        ### Researchers
        Dr. Abdul Ajees, Dr. Vytla Ramachandra Murty, Dr. Balaji Seetharaman.

        # Old iGEM Projects
        - [iGEM Team UMN 2018](http://2018.igem.org/Team:Minnesota)
        - [iGEM Team BIOS INT MEXICO 2014](http://2014.igem.org/Team:BIOSINT_Mexico')
        - [iGEM Team Teubingen 2019](https://2019.igem.org/Team:Tuebingen)
        - [iGEM Team Upssala 2013](http://2013.igem.org/Team:Uppsala)
        - [iGEM Team Penn 2012](http://2012.igem.org/Team:Penn)
        - [iGEM Team TU Eindhoven 2019](https://2019.igem.org/Team:TU_Eindhoven)
        - [iGEM Team UFAM UAE Brazil 2016](http://2016.igem.org/Team:UFAM-UEA_Brazil)
        - [iGEM Team UFAM Brazil 2014](http://2014.igem.org/Team:UFAM_Brazil)
        - [iGEM Team Bielefeld-CeBiTec 2015](http://2015.igem.org/Team:Bielefeld-CeBiTec).

        # Design Aspects

        ### Wet Lab
        - **Composite Bio-Brick 1**
          
          Adithi Somayaji, Lavanya Karinje, Shravan Balasubramaniam, Soumodeep Sarkar, Varun Udaya Kumar.
        - **Composite Bio-Brick 2**
          
          Adithi Somayaji, Soumodeep Sarkar, Varun Udaya Kumar.
        ### Model
          Varun Udaya Kumar, Vaishnavi Chavan.
        ### Hardware
          Urvi Gupta, Adithi Somayaji.
          
          External: Nishesh Singh, Parthivi Choubey.
        ### Product Development Experiments
          Adithi Somayaji, Varun Udaya Kumar, Shravan Balasubramaniam, Soumodeep Sarkar.
        ### Product Development
          Varun Udaya Kumar, Soumodeep Sarkar, Urvi Gupta, Adithi Somayaji, Aniket Samit Naik.
        ### Safety
          Shravan Balasubramaniam, Lavanya Karinje, Adithi Somayaji, Naidu Shameshwar Muralidarran, Soumodeep Sarkar, Varun Udaya Kumar.

        # Handbooks
        ### Composite Bio-Brick 1
          Adithi Somayaji, Shravan Balasubramaniam, Lavanya Karinje, Naidu Shameshwar Muralidarran, Bhumika Narang, Soumodeep Sarkar.
        ### Composite Bio-Brick 2
          Adithi Somayaji, Bhumika Narang, Shravan Balasubramaniam, Soumodeep Sarkar.
        ### Product Development Experiments
          Adithi Somayaji, Soumodeep Sarkar, Varun Udaya Kumar, Bhumika Narang, and Shravan Balasubramanian, Raksha Rakesh Nayak.
        ### Model
          Varun Udaya Kumar, Vaishnavi Chavan, Adithi Somayaji, Soumodeep Sarkar.
        ### SAUL
          Urvi Gupta, Adithi Somayaji, Soumodeep Sarkar.
          
          External: Sajan Subramaniam
        ### Product Development
          Soumodeep Sarkar, Varun Udaya Kumar, Urvi Gupta, Adithi Somayaji, Pavithra Sathyan, Lavanya Karinje, Anushka Jain, Naidu Shameshwar Muralidarran.
        ### Safety
          Shravan Balasubramaniam, Adithi Somayaji, Lavanya Karinje, Soumodeep Sarkar, Naidu Shameshwar Muralidarran, Bhumika Narang, Pavithra Sathyan.

        # Part Pages
        ### Basic Parts
          Adithi Somayaji, Lavanya Karinje, Bhumika Narang.
        ### Composite Parts
          Shravan Balasubramaniam, Naidu Shameshwar Muralidarran, Adithi Somayaji.
        ### Immune Regulation Parts Collection
          Soumodeep Sarkar, Adithi Somayaji, Shravan Balasubramaniam, Bhumika Narang, Lavanya Karinje, Naidu Shameshwar Muralidarran, Aniket Samit Naik.

        # Management and Human Practices
        ### Sponsorship
        Aayush Pandey, Niyati Sanghvi, Soumodeep Sarkar.
        ### Budgets and Inventory
        Apoorva Kapadia, Aayush Panday, Soumodeep Sarkar.
        ### Fundraiser Publicity
        Varun Udaya Kumar, Adithi Somayaji, Soumodeep Sarkar,  Ankur Chatterjee, Niyati Sanghvi, Shravan Balasubramaniam, Naidu Shameshwar Muralidarran, Lavanya Karinje, Pavithra Sathyan, Pradyumna Iyengar, Sanya Lakhotia.
        ### Social Media
        Niyati Sanghvi, Anushka Jain, Soumodeep Sarkar.
        ### Content Writing and Blog
        Niyati Sanghvi, Lavanya Karinje, Soumodeep Sarkar, Adithi Somayaji, Shravan Balasubramaniam.
        ### Graphics
        Sanya Lakhotia, Urvi Gupta, Utkarsh Mohan, Naman Kapoor, Soumodeep Sarkar.
        ### Videos
        Soumodeep Sarkar, Sanya Lakhotia, Utkarsh Mohan, Naman Kapoor, Urvi Gupta.
        
        External: Kshitij Madduri.
        ### Public Relations
        Apoorva Hitesh Kapadia, Niyati Sanghvi, Soumodeep Sarkar.
        ### General Survey of Methylmercury poisoning, probiotics and GMOs
        Soumodeep Sarkar, Varun Udaya Kumar.
        ### Survey on consumer habits of probiotics
        Adithi Somayaji, Varun Udaya Kumar, Soumodeep Sarkar, Niyati Sanghvi.
        ### Something's Fishy
        Niyati Sanghvi, Anushka Jain, Raksha Nayak, Soumodeep Sarkar .
        ### Taxonomy of Hanoi
        Beejady Adithi Somayaji, Soumodeep Sarkar, Niyati Sanghvi.
        
        External: Hardik Bharunt 
        ### Data Collection and Depiction
          - **Complex Nitrogen Sources**
              
              Naidu Shameshwar Muralidarran, Pavitra Sathyan, Apoorva Kapadia, Soumodeep Sarkar, Niyati Sanghvi, Adithi Somayaji.
          - **Fish Consumption**

              Lavanya Karinje, Anushka Jain, Niyati Sanghvi, Soumodeep Sarkar.
          - **Methylmercury and Fish**

              Pradyumna Iyengar, Adithi Somayaji, Niyati Sanghvi, Soumodeep Sarkar.
          - **Estimated Demand**

              Lavanya Karinje, Anushka Jain, Niyati Sanghvi.
          - **Newspaper Article**

              Apoorva Kapadia.
              
              External: Madhu Bharadwaj.

        # Media
        ### Project Reveal Video: Awareness of Methylmercury Poisoning
        Soumodeep Sarkar.
        ### Project Promotion Video
          - **Script**
            
              Adithi Somayaji, Lavanya Neelakanta Karinje, Sanya Lakhotia, Shravan Balasubramaniam, Soumodeep Sarkar.
          - **Illustrations**

              Naman Kapoor, Sanya Lakhotia, Urvi Gupta, Utkarsh Mohan.
              
              External: Kshitij Madduri.
          - **Animations**

              Sanya Lakhotia, Urvi Gupta, Utkarsh Mohan, Soumodeep Sarkar.
          - **Editing**
              
              External: Kshitij Madduri.
          - **Voiceover**

              Sanya Lakhotia, Shravan Balasubramaniam.
          - **Subtitles**

              Naman Kapoor.

        # Collaborations
        ### iGEM Proceedings Journal
        - **Development of a synthetic probiotic bacterium capable of converting methylmercury to elemental mercury to reduce its toxic potential**
        
          Soumodeep Sarkar, Varun Udaya Kumar, Adithi Somayaji.
          
        - **Synthetic Biology and Sustainable Development Goals**
          
          Pavithra Sathyan, Pradyumna Iyengar, Urvi Gupta, Soumodeep Sarkar.
          
        - **The History of iGEM and some exciting projects of the past**
          
          Pavithra Sathyan, Raksha Nayak, Soumodeep Sarkar, Adithi Somayaji.

        ### All India iGEM Meet 2020
        Soumodeep Sarkar, Varun Udaya Kumar.
        
        External: IISER Bhopal, IISER Berhampur, IISER Tirupati, BITS Goa, IIT Roorkee.
        ### BIOSUMMIT
        Soumodeep Sarkar, Varun Udaya Kumar.
        
        External: iGEM BITS Goa, BITSMUN, The Dais India, EMERGE
        ### Alumni Webinar
        Soumodeep Sarkar.
        
        External: Research Society Manipal.

        # Wiki
        ### UI/UX Design
        Naman Kapoor, Sanya Lakhotia, Urvi Gupta, Utkarsh Mohan, Soumodeep Sarkar.
        ### Illustrations
        Kshitij Madduri, Sanya Lakhotia, Urvi Gupta, Adithi Somayaji, Soumodeep Sarkar.
        ### Animations
        Urvi Gupta, Utkarsh Mohan, Soumodeep Sarkar.
        ### Coding
        Soumodeep Sarkar.
        
        External - Pranav Ballaney (iGEM BITS Goa).
        ### Content
        Adithi Somayaji, Soumodeep Sarkar, Raksha Rakesh Nayak, Pavitra Sathyan, Lavanya Karinje, Pradyumna Iyengar.