extends ../templates/contents.pug

block headVars
    - var title = "Contribution"
    - var tagline = "This page outlines our contributions for the future iGEM teams."
    - var requireMathJax = false

block article

    :markdown-it(html)

        # Introduction
        Our project was built on the work of many existing iGEM projects and used a lot of tools and techniques designed by previous teams.
        We have also tried our best to ensure a better competition experience for the future iGEM teams by working on a few contributions to the community ourselves.
        Our contributions include a new part collection - Immune Regulation Parts Collection, SAUL - a bioreactor that simulates the gut conditions and highly detailed safety and experimentation handbooks.
        Read more about our contributions below.

        > Knowledge is wealth that you cannot exhaust by giving.
        > 
        > **Dr. Tonse Madhav Ananth Pai**

        # Parts
        During the course of our project, extensive literature survey was conducted on each gene involved. Due to lack of access to the laboratory facilities, we were not able to characterize the parts. However, we have added literature about the structures, experiments, and/or biology to each of the basic parts pages along with new references and structural images as viewed on RasMol and VMD.

        We have also added new composite parts to the registry with biology, proposed experimentation, expected results and references given for each.

        # Repository
        During our design phase, we found the "Metal Sensing & Binding" parts collection page extremely helpful which inspired us to curate an immune regulation parts collection.

        This collection has been divided into
        
        - ___Sense and control___ - includes parts which can sense and react to inflammation related components like NO, NF-κB, etc. 
        - ___Anti-inflammatory and pro-inflammatory___ - includes parts which affect inflammation positively, negatively or both. 
        - ___Receptors___ - membrane receptors which play a part in immunity and inflammation. 
        - ___Antibodies___ - includes heavy chain, light chain, and specific antibodies.
        - ___Others___ - This set contains other miscellaneous molecules whose functions are related to the immune system.		
        - ___Composite sense and control devices___ - includes some inflammatory control devices designed by previous iGEM teams.
        
        [Immune Regulation Part Collection](http://parts.igem.org/Collections/Immune_Regulation)

        In addition, we have also added new references and basic summary to most of the parts as well as the source organism and risk groups.

        # SAUL

        Through literature, we found that standard lab scale petri dish tests are oversimplified and the animal models are too expensive for initial lab screening. Hence to provide a middle ground we designed a device which could systematically analyse the underlying limitations of the standard lab scale procedures by partially simulating the gut environment to provide a dynamic yet easy approach to experimentation. We have provided a detailed handbook describing all aspects of the device including but not limited to the components, assembly, reagents, experimentation protocols and configurations. In addition, we have also analysed the compressive force on the dialysis tube as well as stresses shear stress experienced by it using ANSYS simulation (Static Structural Workbench). Furthermore, we have used readily available materials, given an estimated price of assembly as well as provided the cad (.stp) file for easy and effective reproducibility.

        [Hardware](Hardware)

        # Handbooks
        
        Highly detailed handbooks have been curated for all aspects of our project:
        
        - [iGEM MIT_MAHE Composite Bio-Brick 1 Handbook](Experimentation#CompositeBio-Brick1)
        - [iGEM MIT_MAHE Composite Bio-Brick 2 Handbook](Experimentation#CompositeBio-Brick2)
        - [iGEM MIT_MAHE Product Development Experiments Handbook](Experimentation#GrowthMedia)
        - [iGEM MIT_MAHE Implementation Handbook](Implementation#Handbook)
        - [iGEM MIT_MAHE SAUL Handbook](Hardware#Handbook)
        - [iGEM MIT_MAHE Model Handbook](Model#Handbook)
        - [iGEM MIT_MAHE Safety Handbook](Safety#Handbook)
        
        The Experimentation Handbooks contain not only the function analysis protocols, but also the general protocols to ensure easy reproducibility. 
        
        The Implementation Handbook consists information about the various upstream and downstream process involved in powder and capsule development, detailed design and working of our production bioreactor (entire bioprocess), packaging processes and materials, waste management and recycling methodologies as well as information about various nitrogen sources of different regions in India, market analysis and fish consumption analysis.
        
        The SAUL Handbook consists of meticulously curated experiments and full design, assembly, materials and cost information. 
        
        The Model Handbook has complete information about our MATLAB and VMD models including challenges which we had faced.
        
        Finally, the Safety Handbook includes detailed and complete safety considerations of every reagent, process, experiment, device, equipment, etc described in the other handbooks as well as biosecurity and biosafety issues of our project.