extends ../templates/contents.pug

block headVars
    - var title = "Project Description"
    - var tagline = "This page describes our problem statement, its relevance and our solution."
    - var requireMathJax = false

block article
    :markdown-it(html)

        # Introduction
        Sushi! Fish and chips! Tiradito!, seafood with all it's delicious glory has marked it's place in various cultures and platters around the world. According to the Food and Agriculture Organization [FAO, 2020](#citation1), more than 3.3 billion people across the world rely on fish as a significant source (>20%) of animal protein. But what if there’s a catch!

        # Methylmercury
    - var imgpath = "" + require("../assets/img/Description--evilmehg.png")["default"]
    +image(1, imgpath, "Evil Methylmercury", 40)

    :markdown-it(html)
        Methylmercury (MeHg) is a highly toxic organometallic compound produced by marine anaerobic microbes which then naturally bioaccumulates to highly toxic levels through the aquatic food chain.
        Mercury finds it way to the water bodies through various sources, both anthropogenic as well as natural (volcanic activity, etc) - where these microbes methylate it and make it dangerous. [Mercury Emissions: The Global Context - EPA](#citation2).

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Source | Amount (kg) |
        | ------  | --------- |
        | Artisanal and Small Scale Mining  | 837,658 |
        | Stationary Combustion of Coal | 473,777 |
        | Nonferrous Metals Production | 326,657  |
        | Cement Production | 233,168 |
        | Waste from Products | 146,938 |
        | Vinyl Chloride Monomer | 58,268 |
        | Biomass Burning | 51,860 |
        | Ferrous Metals Production | 39,903 |
        | Chlor-alkali Production | 15,146 |
        | Waste incineration | 14,944 |
        | Oil Refining | 14,377 |
        | Stationary Combustion of Oil and Gas | 7,130 |
        | Cremation | 3,768 |
        
        [Table 1: Anthropogenic sources of mercury release]

    :markdown-it(html)
        Table Source - [Mercury Emissions: The Global Context - EPA](#citation2)

        > I was aware around 1951 that the color of the sea had changed and that the water had gotten filthy. Oysters and clams died, while small fish were (washed up) ashore.
        > 
        > **Tsuginori Hamamoto** in the book _“Fifty Years of Minamata Disease”_

        This principal source of exposure to methylmercury for humans is through consumption of food (primarily but not limited to fish) contaminated with it. [Thackray & Sunderland, 2019](#citation3).

    - var imgpath = "" + require("../assets/img/Description--fishmehg.png")["default"]
    +image(2, imgpath, "Fish and Methylmercury")

    :markdown-it(html)
        ### Methylmercury - A threat
        MeHg is a highly potent neurotoxin with severity depending largely on the magnitude of it's dose. Minamata disease, a neurological syndrome, owes its name to one of the world’s worst environmental disasters and is a direct result of methylmercury poisoning.
    - var imgpath = "" + require("../assets/img/Description--symptoms.png")["default"]
    +image(3, imgpath, "Methylmercury poisoning symptoms")

    :markdown-it(html)
        Ingestion can lead to mental retardation, seizure disorders, cerebral palsy, cardiovascular malfunctions, blindness and deafness with paralysis, coma, insanity, and death occurring in extreme cases [Nogara et al., 2019](#citation4) [Puty et al., 2019](#citation5). Moreover, owing to it's capabilities of crossing the blood placenta barrier, it can even affect foetuses regardless of whether the mother shows any symptoms [Aaseth et al., 2020](#citation6).

        > Crows could not fly after eating such fish, while cats went crazy. And then, human beings fell sick.
        > 
        > **Tsuginori Hamamoto** in the book _“Fifty Years of Minamata Disease”_

        ### Current Methods of treatment

        - **Activated Charcoal:** It works by adsorbing chemicals, thus reducing their toxicity, through the entire length of the GI tract.
        
           Cons - Extremely expensive, doesn't work with hydrocarbons - methyl group might interfere.  [Rafati-Rahimzadeh M., et al, 2014](#citation7)
        
        - **Dimercaprol (Chelation Therapy):** Dimercaprol is a chelating agent that is used to remove a heavy metal from the blood.
        
           Cons - This technique is ineffective in treating long-term poisoning (slow poisoning that has occurred over a long period of time) [Flora, S. J., & Pachauri, V. 2010](#citation8)
        
        These methods can only be used once the patient starts showing symptoms which is just too late.

        > When disaster strikes, the time to prepare has passed.
        > 
        > **Steven Cyros**

        # Our Proposal
        The essence of **synthetic biology** is to apply engineering acumen and knowledge in biology to harness the limitless potential of natural systems so that one day, we shall lead healthier and happier lives in a cleaner and greener world. Our project **'Breaking Bond'** aims to utilize synthetic biology to provide a solution to combat this issue of global importance. As the methylmercury absorption occurs through the gut, we have proposed **a novel engineered probiotic bacterium**, capable of **converting methylmercury to elemental mercury** (a less toxic form), as an addition to the gut microbiome. 
        
        The **elemental mercury** thus released, is much safer as less than **0.01%** of it is absorbed by the intestines compared to methylmercury of which **95%** gets absorbed [National Research Council, 2000](#citation9). The elemental mercury will thus be **eliminated through faeces.** This will serve as a long term and efficient solution and can be made accessible to many people, both in terms of cost as well as usability.
        
        The release of **elemental mercury** has the potential to disturb the gut microbiota and induce **inflammations.** In order to negate this side effect, we have also included a mechanism to tackle the problem.

    - var imgpath = "" + require("../assets/img/Description--comic.jpg")["default"]
    +image(4, imgpath, "Our Proposal", 110)

    :markdown-it(html)
        # Finding Inspiration
        Our team leader, Varun Udaya Kumar, heard about the iGEM competition when he was in high school. When he joined our university, Manipal, one of India’s leading academic and research institutions, he noticed that there weren’t any biotechnology-based student projects here, so he decided to start an iGEM team here. Even though this is our first time participating in iGEM, we have received a lot of support from our professors and administration!
        
        Our team came up with many different ideas for this year’s project, and narrowing them down to a single topic seemed almost impossible. Varun then suggested we could help tackle the problem of methylmercury poisoning. He had read about this issue in a local newspaper - as it was affecting the coastal town, also his native place - Mangalore, where seafood is highly popular. The rest of the team was almost immediately on board, given that many people in our country consume seafood and rice (which are probable sources of methylmercury poisoning). We felt that it would be highly beneficial if we could find an efficient solution to this problem.

        # COVID-19 and us
        The COVID-19 pandemic had a major impact on the direction of our project. The beginning of our journey coincided with the start of the lockdowns due to the pandemic, leaving us with a complete lack of access to various facilities and resources.
        We were left with nothing but a highly enthusiastic team. We missed out on enjoying bonding sessions with the team, going to various schools to share the beauty of biology, frustrating yet fun-filled successes and failures during experimentation and much more. The human practices aspect was probably affected the most as all our appointments with the local fisheries got cancelled.
        Our team was split apart, true to our project’s name, although our bonds could not be broken. The situation, however, introduced us to a new perspective of biological research. The shift from traditional lab-based work to data-based research helped us appreciate what the proteins are, along with their effects. We hope that future iGEM teams will find this project helpful in furthering knowledge.

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"details": "(January 28, 2020). Retrieved on September 25, 2020. from ", "title": "Mercury Emissions: The Global Context. Environmental protection agency.", "type": "webpage", "url": "https://www.epa.gov/international-cooperation/mercury-emissions-global-context"}, {"authors": "Thackray, C. P., & Sunderland, E. M. (2019). ", "doi": "https://doi.org/10.1016/B978-0-12-817945-1.00006-X", "journal": "Predicting Future Oceans", "numbers": "61-68. ", "title": "Seafood methylmercury in a changing ocean.", "type": "article"}, {"authors": "Puty, B., Le  o, L. K. R., Crespo-Lopez, M. E., Almeida, A. P. C. P. S. C., Fagundes, N. C. F., Maia, L. C., & Lima, R. R. (2019). ", "doi": "https://doi.org/10.1016/j.jtemb.2018.12.001", "journal": "Journal of Trace Elements in Medicine and Biology", "numbers": "52, 100-110. ", "title": "Association between methylmercury environmental exposure and neurological disorders: A systematic review.", "type": "article"}, {"authors": "Aaseth, J., Wallace, D. R., Vejrup, K., & Alexander, J. (2020). ", "doi": "https://doi.org/10.1016/j.cotox.2020.01.005", "journal": "Current Opinion in Toxicology", "numbers": "19, 80-87. ", "title": "Methylmercury and developmental neurotoxicity: A global concern.", "type": "article"}, {"authors": "Rafati-Rahimzadeh, M., Rafati-Rahimzadeh, M., Kazemi, S., & Moghadamnia, A. A. (2014). ", "doi": "https://doi.org/10.1186/2008-2231-22-46", "journal": "DARU Journal of Pharmaceutical Sciences", "numbers": "22(1). ", "title": "Current approaches of the management of mercury poisoning: need of the hour.", "type": "article"}, {"authors": "Flora, S. J. S., & Pachauri, V. (2010). ", "doi": "https://doi.org/10.3390/ijerph7072745", "journal": "International Journal of Environmental Research and Public Health", "numbers": "7(7), 2745-2788. ", "title": "Chelation in Metal Intoxication.", "type": "article"},{"details": "(December, 2000). Retrieved on November 22, 2019. from ", "title": "National Research Council - Toxicological Effects of Methylmercury.", "type": "webpage", "url": "https://www.nap.edu/catalog/9899/toxicological-effects-of-methylmercury"}]