extends ../templates/contents.pug

block headVars
    - var title = "Education"
    - var tagline = "This page outlines how we generated awareness amongst the public."
    - var requireMathJax = false

block article

    :markdown-it(html)

        # BIOSUMMIT
        
        The year **2030** marks the achievement of the **Sustainable Development Goals**, as proposed by the United Nations Organisation back in 2015. But given the current scenario, we are not even close to accomplishing even one of them.
        
        **iGEM MIT_MAHE (Manipal BioMachines), iGEM BITS Goa, and BITSMUN Goa** in association with **The Dais** conducted the first event of the **All India iGEM Meet 2020: iGEM India BIOSUMMIT 2020.** The idea behind the summit was to bring together iGEMers, including iGEM alumni across India to come and lead a **healthy discussion** revolving around the **targeted Sustainable Development Goals** for the event.
        We focused on **8 SDGs:** Food and Health, Clean Water and Sanitation, Decent Work and Economic Growth, Industry, Innovation and Infrastructure, Reduced Inequalities, Responsible Consumption and Production, Climate Action and Peace, Justice and Strong Institutions.
        It included **four** committees whose agenda were: (i) Ethics of terraforming: Making Mars suitable for human inhabitation, (ii) Health & Medical Data Privacy, (iii) Availability of Genetic Cosmetic treatment to the population based on the wealth distribution, and (iv) Prevention of bio-warfare and/or entomological warfare is possible for policy-making and Dual use of existing synthetic biology products. 

    - var imgpath = "" + require("../assets/img/Education--biosummit.png")["default"]
    +image(1, imgpath, "iGEM India BIOSUMMIT Poster", 70)

    :markdown-it(html)
        The **BIOSUMMIT** boasted **international judges** from the USA to Japan - including iGEM UN CBD 2018 delegates - Aiswarya Prasad and Janina Lüders and iGEM 2020 ambassadors - Varsha Jaisimha and Kaavya Ashok. We also had Georgios Kostakos as our chief guest, who served as the secretariat of the UN Secretary General's High-level panel on Global sustainability.
        We had participants from **all over India** and each committee had **a fruitful discussion** on their respective agendas. All the participants contributed their opinions about various **technical** and **ethical** aspects of their agenda, **adding on** to each other, **identifying various problems** as well as **providing solutions** leading to a smooth exchange of ideas in a **collaborative manner.**

        # Research Society Webinar
        **iGEM MIT_MAHE** (Manipal BioMachines) collaborated with **Research Society Manipal**, and conducted an **alumni webinar session**, with **Harish Narasimhan** as the speaker. He is currently pursuing his PhD in Immunology and graduated with a Master's degree in Biochemistry and Molecular Biology, from Johns Hopkins University.
        Biotechnology is a vast field, and it can be daunting for undergraduates to pick a stream for higher studies. Mr. Narasimhan gave a beautiful talk on numerous aspects of this field. Almost a **100 undergraduate** students attended the webinar where he also debunked several myths about the novel coronavirus. **An interactive Q and A session** followed where several ideas were exchanged.

    - var imgpath = "" + require("../assets/img/Collaborations--rsm.jpeg")["default"]
    +image(2, imgpath, "Webinar Poster", 70)

    :markdown-it(html)
        # Cookbook
        Most cookbooks provide recipes, and the occasional cookbook provides calorie count as well, but it is always **beneficial** to know about the **issues** that **certain ingredients** in a recipe can cause.
        Apart from **celebrating the recipes**, the main aim of creating a cookbook which contains several recipes from around the globe, was to **educate people** on **methylmercury poisoning.** We believe that this would **encourage people** to know more about the issue since it affects their favorite recipes.
    +pdf(require("../assets/docs/Somethings-fishy-Cookbook.pdf")['default'], "Somethings-fishy-Cookbook")

    :markdown-it(html)
        # Newspaper Article
        Our university is located in the coastal town of Manipal, Karnataka, where fish is regularly consumed. We will be **publishing an article** in the local language of **Kannada** in the local **newspapers** in order to spread awareness and educate the residents about **methylmercury poisoning**: it's source, exposure, long term effects, treatment and its prevalence in fishes.
    +pdf(require("../assets/docs/Newspaper-Article.pdf")['default'], "Newspaper-Article")
    :markdown-it(html)
        # Game

        **Taxonomy** is a method of classification of organisms based on their **biological ancestry**. It is also an essential knowledge for all **aspiring biologists**.
        In order to teach children about the **different kingdoms, species** etc, we have designed a game which added a twist to the Tower of Hanoi. We hope that children would enjoy this **unison of mathematics and biology.**

        [Download the Game](https://www.google.com)