extends ../templates/contents.pug

block headVars
    - var title = "Implementation"
    - var tagline = "This page outlines our proposed implementation of the project."
    - var requireMathJax = true

block article

    :markdown-it(html)

        # Introduction
        An **enteric two-piece capsule** has been proposed for the delivery of the probiotic to its target site, the gut. A plan of implementation has been proposed which includes three stages.
        
        **Upstream processes** in development of a probiotic involves 
        - Selection and modification of a strain according to requirements.
        - Selection and optimization of media used to grow the strain.
        - Selection of a capsule formulation and testing. 
        - Selection of excipients.
        
        During this phase the active pharmaceutical ingredient (API) (in our case the modified probiotic) is determined. This includes stages up to clinical trials and industrial production.
        
        **Bioprocesses** involve growing the bacteria in a bioreactor. 
        
        **Downstream processes** involves 
        - Separation: Separation of the API from other components.
        - Purification: Purification of the API to ensure there are no impurities or contaminants.
        - Manufacturing of the required capsule: For the drug delivery process. 
        - Recycling and waste management:
        
        Then the finished product is sent for packaging which involves covering our product with a packing material (cold form film in our case) to ensure the integrity of the product. 
        
        Our process for the manufacturing is divided into **5 parts**,
        - Powder manufacturing process. 
        - Empty capsule manufacturing process. 
        - Capsule filling process. 
        - Packaging process. 
        - Recycling, waste management, and safety process.

        > The best big idea is only going to be as good as its implementation
        > 
        > **Jay Samit**

        # Powder Design
        The strain development process involves the preparation and testing of recombinant plasmids in the _Escherichia coli_ Nissle 1917 with the insert described in the design part of the project. Initially, in order to ensure safety, we had proposed a design where the antibiotic resistance gene was removed from the bacteria so that any unnecessary resistances would not be imparted to the natural gut biota. 

        However, **Dr. Keyur Raval** said that the presence of antibiotic-resistance genes would create a plasmid conservation pressure during production which would ensure that plasmid loss would not occur as well as prevent contamination of media.  Hence, each plasmid will have a different antibiotic resistance gene in the final strain developed for production. The final recombinant bacteria must be preserved using cryopreservation techniques. 
        
        However, inclusion of such genes in the final strain design poses the threat of imparting unnecessary antibiotic resistance to the natural gut microbiome. When we voiced our concerns about this, he suggested the usage of CRISPR-Cas-9 technology to integrate our design to the genome of the bacteria. However, we decided against it as the long term effects of this technology is not known. In addition, _Escherichia coli_ Nissle 1917 does not have the ability to undergo conjugation and thus cannot participate in Horizontal Gene Transfer which made us more confident about the traditional method. 
        
        Furthermore, he provided guidance on how we should formulate a **metabolic stoichiometric equation** as well as **design bioreactors** based on need and availability as opposed to keeping a restrictive approach. He helped us identify the different aspects that need to be looked into like media formulation, biomass equations, bioreactor design, etc.  Initially, we considered only yeast extract as our proposed nitrogen source. 

        > The largest cost driver in any bioprocess are raw material costs. The cost and availability of nitrogen sources depends on the industries present in that area
        > 
        > **Dr. Keyur Raval**
        
        Hence, we found several cheap nitrogen sources like **soyabean liquor, corn steep liquor, cotton seed flour, groundnut meal, yeast extract,** etc.
        We then curated **a list of the cheapest nitrogen sources** for different states of India to ensure the cheapest possible production (Refer to handbook given below). Hence the media formulation would vary from location to location depending on availability. The nitrogen content of each source must be calculated using the experiments mentioned in **iGEM MIT_MAHE Product Development Experiments Handbook.**
        
        Depending on the nitrogen content in the source and the stoichiometry, the amount of nitrogen source to be added must be calculated. Using the stoichiometric equation, media must be formulated

        <center>C<sub>3</sub>H<sub>8</sub>O<sub>3</sub> + 1.7092O <sub>2</sub> + 0.4224 NH<sub>3</sub> → 1.76 CH<sub>1.77</sub>O<sub>0.49</sub>N<sub>0.24</sub> + 1.24 CO<sub>2</sub> + 3.076 H<sub>2</sub>O</center>
       
        <center> Final metabolic stoichiometry </center>
        
        With __respiratory coefficient__ of **0.72676** and __theoretical oxygen demand__ of **0.5945g oxygen/g glycerol.**
        
        Initially, the carbon source proposed was **glucose** and **tryptone**. 

        > Avoid using Tryptone in large scale processes, as it is expensive. Moreover try exploring glycerol as the carbon-source instead of glucose as the uptake rate for glycerol is lower and it avoids by-products like acetic acid.
        > 
        > **Dr. Keyur Raval**

        Hence, **glycerol** was chosen - it is also cheap and readily available across all regions of India.

        At first, we considered designing a bioreactor having a volume of 10000L which we changed to a more need based approach, taking in his advice. Thus, based on the amount of fish consumed per region, the amount of pills to be manufactured per region was estimated and listed (refer to handbook). Therefore, to reduce **costs** and **wastage**, **three bioreactors** of **different sizes** were designed based on **low, moderate** and **high** requirements.

        > Submerged cultures are favourable for biomass production. _Escherichia coli_ is a very robust cell and thus a stirred tank fermentor can be used.
        > 
        > **Dr. Vytla Ramachandra Murty**

        # Bioreactor Design

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Volume (L) | Diameter (mm) | Height (mm) | Number of impellers | Position of impellers (mm) || Baffle width (mm) | Number of baffles |
        | :------:   | :---------:   | :----------:| :------: | :------: | :-----: | :------: | :------: |
        | 100     | 700       | 2600       | 2 | 700  | 1400 | 70  | 4 |
        | 1000    | 1550      | 5300       | 2 | 1550 | 3100 | 155 | 4 |
        | 10000   | 3300      | 11700      | 2 | 3300 | 6600 | 33  | 4 |

        [Table 1: Bioreactor Design Specifications]

    :markdown-it(html)

        > The impeller you use can have a large impact on productivity - currently SCaBa serves as the industry standard.
        > 
        > **Dr. Keyur Raval**

        **Type of impeller**: 6 blade curved blade impeller -> SCaBa 6SRGT

        **Ms. Archana Mahadev Rao helped us formulate a downstream plan by ensuring we follow a good manufacturing practices checklist.  
        
        # Blockquote

        > This is a blockquote.
        > This continues in the same paragraph.
        >
        > To change the paragraph, you have to leave a line.

        > This is another blockquote.
        > 
        > **Pranav Ballaney, 2020**

        # Images

        This is a regular paragraph. 
        #### This is a level 4 heading. 
        [This is a link](google.com)

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(1, imgpath, "Caption", 100)

    :markdown-it(html)
        Back to regular text.

        # Tables

        This is a regular paragraph, which precedes the table.
        When you want to insert a table, indent one level back and specify the plugin.
        Then indent inside again and start writing the table.

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | This is | the table | header row |
        | ------  | --------- | ---------- |
        | 1       | 2         | 3          |
        | 4       | 5         | 6          |
        [Table 1: Caption goes here.]

    :markdown-it(html)
        And when you're done, go back to the regular markdown filter.

    :markdown-it(html)
        **Example 2:**

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Left aligned | Center aligned | Right aligned |
        | :----------- | :------------: | ------------: |
        | 1 | 2 | 3 |
        | 4 | 5 | 6 |

    :markdown-it(html)
        **Example 3:**

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        |              |          Grouping           ||
        |First Header  | Second Header | Third Header |
        | ------------ | :-----------: | -----------: |
        |Content       |          *Long Cell*        ||
        |Content       |   **Cell**    |         Cell |                                               
        |New section   |     More      |[Data](https://google.com) |
        |And more      | With an escaped '\|'       ||

        [Table 3: Caption goes here.]

    :markdown-it(html)

        # Definitions

        <dfn>Term ~ Definition</dfn>

        This can come <dfn>anywhere in ~ the text</dfn>.

        # MathJax

        $$\int_{0}^{\infty} e^{-x^2} dx = \frac{\sqrt{\pi}}{2}$$

        $$-\frac{\hbar^2}{2m}\nabla^2\psi + V\psi = E\psi$$

        $$i\hbar\gamma^\mu\partial_\mu\psi = mc\psi$$

        $$y_k = \frac{1}{\sqrt{N}}\sum_{n=0}^{N-1}x_n\omega_N^{kn}$$

        # Citations

        In text citation for a research article with a DOI. [Rosano et al., 2019](#citation2)

        In text citation for another research article with a DOI. [Allen & Sheridan, 2015](#citation1)

        In text citation for a book with no DOI. [Ingalls, 2013](#citation3)

        In text citation for a website with institutional author. [TNAU Agritech Portal, n.d.](#citation4)

        In text citation for a website with an author. [Author, n.d.](#citation5)

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"details": "(November 1, 2008). Retrieved on September 14, 2020. from ", "title": "Probiotics. American Family Physician.", "type": "webpage", "url": "https://www.aafp.org/afp/2008/1101/p1073.html"}, {"details": "(2020). Retrieved on September 15, 2020. from ", "title": "Capsule size chart. Capsule Supplies.", "type": "webpage", "url": "https://www.capsulesupplies.com/capsule-size-chart/"}, {"authors": "Smith, A. M., Ingham, A., Grover, L. M., & Perrie, Y. (2010). ", "doi": "https://doi.org/10.1211/jpp.62.02.0003", "journal": "Journal of Pharmacy and Pharmacology", "numbers": "62(2), 167-172. ", "title": "Polymer film formulations for the preparation of enteric pharmaceutical capsules.", "type": "article"}, {"authors": "Osma  ek, T., Froelich, A., & Tasarek, S. (2014). ", "doi": "https://doi.org/10.1016/j.ijpharm.2014.03.038", "journal": "International Journal of Pharmaceutics", "numbers": "466(1-2), 328-340. ", "title": "Application of gellan gum in pharmacy and medicine.", "type": "article"}, {"details": "(September 29, 2020). Retrieved on September 20, 2020. from ", "title": "Manufacture of Hard Gelatin Capsules. Pharma approach.", "type": "webpage", "url": "https://www.pharmapproach.com/manufacture-of-hard-gelatin-capsules/"}, {"details": "(June 6, 2019). Retrieved on September 21, 2020. from ", "title": "Automatic capsule filling machine working principle. iPharma-machines.", "type": "webpage", "url": "https://www.ipharmachine.com/automatic-capsule-filling-machine-working-principle"}]