extends ../templates/contents.pug

block headVars
    - var title = "Medals"
    - var tagline = "This page serves as a guide for our medal criteria."
    - var requireMathJax = false

block article

    :markdown-it(html)

        Through our iGEM journey, we gained knowledge about innumerable aspects and have presented them through our wiki. This page serves as a catalogue to help judges better navigate to the pages that contain information for each medal criteria.

        # Gold Medal
        We believe we have reached the following gold medal criteria. Further information can be obtained by following the links below.

        - [Integrated Human Practices](/Human_Practices)
        - [Model](/Model)
        - [Science Communication](/Education)

        # Silver Medal
        Information about how we fulfilled the silver medal criteria can be found by following the links below:

        - [Engineering Success](/Engineering)
        - [Collaborations](/Collaborations)
        - [Human Practices](/Human_Practices)
        - [Proposed Implementation](/Implementation)

        # Bronze Medal
        The bronze medal criteria for competition deliverables has not been mentioned as the poster and presentation deadlines are post Wiki Freeze - but we have submitted our project promotion video.
        More information about how we fulfilled the bronze medal criteria can be obtained by following the links below.

        - [Contribution](/Contribution)
        - [Description](/Description)
        - [Attributions](/Attributions)
        - [Project Promotion Video](https://video.igem.org/videos/watch/8fa79012-4879-4e43-aa37-2c80630c0fce)