extends ../templates/contents.pug

block headVars
    - var title = "Model"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    
    video(controls width=720)
      source(src= urlPrefix + require("../assets/vid/Home--bgvideo.mp4")['default'].substr(2), type='video/mp4')

    :markdown-it(html)

        # Headings
        ## Level 2 Heading
        ### Level 3 Heading
        #### Level 4 Heading

        # Emphasis
        This is regular text.

        **This is bold text.**
        __This is also bold text.__

        *This is italic text.*
        _This is also italix text.*

        ***This text is bold and italic both.***
        ___This text is bold and italic both.___

        ~~Strikethrough~~

        # Lists
        1. This is item one.
        1. This is item two.
        1. It's okay to number every item as 1.
            * This is a nested list.
            * Use asterisk for an unordered list,
            * Further nesting?
            + Plus sign also works.
            - And so does minus.
        1. ~~Birds aren't real.~~

        # Links
        [Google](https://google.com)

        [Text goes in square brackets](Link-goes-in-parenthesis)

        # Blockquote

        > This is a blockquote.
        > This continues in the same paragraph.
        >
        > To change the paragraph, you have to leave a line.

        > This is another blockquote.
        > 
        > **Pranav Ballaney, 2020**

        # Images

        This is a regular paragraph. 
        #### This is a level 4 heading. 
        [This is a link](google.com)

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(1, imgpath, "Caption", 100)

    :markdown-it(html)
        Back to regular text.

        # Tables

        This is a regular paragraph, which precedes the table.
        When you want to insert a table, indent one level back and specify the plugin.
        Then indent inside again and start writing the table.

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | This is | the table | header row |
        | ------  | --------- | ---------- |
        | 1       | 2         | 3          |
        | 4       | 5         | 6          |
        [Table 1: Caption goes here.]

    :markdown-it(html)
        And when you're done, go back to the regular markdown filter.

    :markdown-it(html)
        **Example 2:**

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Left aligned | Center aligned | Right aligned |
        | :----------- | :------------: | ------------: |
        | 1 | 2 | 3 |
        | 4 | 5 | 6 |

    :markdown-it(html)
        **Example 3:**

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        |              |          Grouping           ||
        |First Header  | Second Header | Third Header |
        | ------------ | :-----------: | -----------: |
        |Content       |          *Long Cell*        ||
        |Content       |   **Cell**    |         Cell |                                               
        |New section   |     More      |[Data](https://google.com) |
        |And more      | With an escaped '\|'       ||

        [Table 3: Caption goes here.]

    :markdown-it(html)

        # Definitions

        <dfn>Term ~ Definition</dfn>

        This can come <dfn>anywhere in ~ the text</dfn>.

        # MathJax

        $$\int_{0}^{\infty} e^{-x^2} dx = \frac{\sqrt{\pi}}{2}$$

        $$-\frac{\hbar^2}{2m}\nabla^2\psi + V\psi = E\psi$$

        $$i\hbar\gamma^\mu\partial_\mu\psi = mc\psi$$

        $$y_k = \frac{1}{\sqrt{N}}\sum_{n=0}^{N-1}x_n\omega_N^{kn}$$

        # Citations

        In text citation for a research article with a DOI. [Rosano et al., 2019](#citation2)

        In text citation for another research article with a DOI. [Allen & Sheridan, 2015](#citation1)

        In text citation for a book with no DOI. [Ingalls, 2013](#citation3)

        In text citation for a website with institutional author. [TNAU Agritech Portal, n.d.](#citation4)

        In text citation for a website with an author. [Author, n.d.](#citation5)

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"details": "(October 9, 2020). Retrieved on October 11, 2020. from ", "title": "Visual Molecular Dynamics. Theoretical and computational biophysics group.", "type": "webpage", "url": "https://www.ks.uiuc.edu/Research/vmd/"}, {"authors": "Lafrance-Vanasse, J., Lefebvre, M., Di Lello, P., Sygusch, J., & Omichinski, J. G. (2008). ", "doi": "https://doi.org/10.1074/jbc.M807143200", "journal": "Journal of Biological Chemistry", "numbers": "284(2), 938-944. ", "title": "Crystal Structures of the Organomercurial Lyase MerB in Its Free and Mercury-bound Forms.", "type": "article"}, {"authors": "Parks, J. M., Guo, H., Momany, C., Liang, L., Miller, S. M., Summers, A. O., & Smith, J. C. (2009). Mechanism of Hg- C Protonolysis in the Organomercurial Lyase MerB. Journal of the American Chemical Society, 131(37), 13278-13285. ", "doi": "https://doi.org/10.1021/ja9016123", "journal": "Journal of the American Chemical Society", "numbers": "131(37), 13278-13285. ", "title": "Mechanism of Hg C Protonolysis in the Organomercurial Lyase MerB.", "type": "article"}, {"authors": "Ledwidge, R., Patel, B., Dong, A., Fiedler, D., Falkowski, M., Zelikova, J., ... & Miller, S. M. (2005). ", "doi": "https://doi.org/10.1021/bi050519d", "journal": "Biochemistry", "numbers": "44(34), 11402-11416. ", "title": "NmerA, the Metal Binding Domain of Mercuric Ion Reductase, Removes Hg2+from Proteins, Delivers It to the Catalytic Core, and Protects Cells under Glutathione-Depleted Conditions , .", "type": "article"}, {"authors": "Mathema, V. B., Thakuri, B. C., & Sillanp    , M. (2011). ", "doi": "https://doi.org/10.1007/s00203-011-0751-4", "journal": "Archives of Microbiology", "numbers": "193(12), 837-844. ", "title": "Bacterial mer operon-mediated detoxification of mercurial compounds: a short review.", "type": "article"}]