extends ../templates/contents.pug

block headVars
    - var title = "Model"
    - var tagline = "This page outlines our project models."
    - var requireMathJax = true

block article
    
    :markdown-it(html)

        # Introduction
        Biological systems are like poetry — mesmerizingly complex yet marvelously simple. Proteins are the words of this poem, giving it a **structure** and **function**.
        The core components of our project are these molecules, enabling us to bring to life our problem statement. In order to use them effectively, understanding their complexity is necessary.
        To do the same we have visualized and simulated our proteins dividing them to their core aspects: structure and function. 

        # Structural Analysis
        “Visual molecular dynamics” is a molecular visualization program used for display, animation, and analysis of large biomolecular systems using 3-D graphics and built-in scripting [Visual molecular dynamics - TCg](#citation1).
        We have used this software to visualize our dual enzyme system **MerA** and **MerB**. A **CHARMM force-field** with additional entries in the topology and parameter files was used for the **mercury ion** and **cysteine (sulphur) interactions.** 

        ### Alkylmercury Lyase
        **Alkylmercury lyase** is encoded by the MerB gene and **breaks** the **carbon mercury bond** in the organometallic compound and transfers the resulting mercury ion (Hg<sup>2+</sup>) to mercury (II) reductase (MerA)[Lafrance-Vanasse, J. et al, 2009](#citation2)[Parks et al., 2009](#citation3).

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(1, imgpath, "Alkylmercury lyase without organic mercury. New cartoons representation with residues highlighted in CPK.", 100)

    :markdown-it(html)
        The active site of this protein is **CYS-95** and **CYS-158**. Here we show only one chain of the dimer of the MerB complex. Searches for PDB files of MerB with an organometallic ligand were futile, therefore a carbon atom was inserted into the PDB file manually after calculating the distance between mercury and carbon in methylmercury compound.  

    video(controls width=720)
      source(src= urlPrefix + require("../assets/vid/Home--bgvideo.mp4")['default'].substr(2), type='video/mp4')

    :markdown-it(html)
        <center>Video 1: Alkylmercury Lyase with organic mercury. New cartoons representation with residues highlighted in CPK.</center>

    video(controls width=720)
      source(src= urlPrefix + require("../assets/vid/Home--bgvideo.mp4")['default'].substr(2), type='video/mp4')

    :markdown-it(html)
        <center>Video 2: Alkylmercury Lyase with organic mercury</center>

        ### Mercuric reductase
    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(2, imgpath, "Mercuric reductase without mercury. New cartoons representation with residues highlighted in CPK.", 100)

    :markdown-it(html)
        **Mercuric reductase**, as the name implies, reduces the Mercuric ion (Hg<sup>2+</sup>) to elemental mercury (Hg).
        The binding site for this protein is **CYS-10** and **CYS-13** [Ledwidge, R. et al, 2005](#citation4) [Mathema et al., 2011](#citation5).

    video(controls width=720)
      source(src= urlPrefix + require("../assets/vid/Home--bgvideo.mp4")['default'].substr(2), type='video/mp4')

    :markdown-it(html)
        <center>Video 3: Mercuric reductase with mercuric ion. New cartoons representation with residues highlighted in CPK.</center>
    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(3, imgpath, "Cysteine residue with mercury. Cysteine residues represented in CPK.", 100)

    :markdown-it(html)
        Our aim was to show the stability of our enzyme by determining Root Mean Square Deviation of the protein-ligand system.
        We failed to do so due to the uncertainty about mercuric ion properties. The results we obtained at the time of submission were too unsatisfactory for us to proceed with the analysis.

        # Functional Analysis
        Functional analysis was modelled using MATLAB - SimBiology.

        ### Model 1
        In order to assess the **order of concentration of enzymes** required for optimal conversion, we have designed an experiment (refer to iGEM MIT_MAHE Composite Bio-Brick 1 handbook for complete protocol). This experiment would provide three graphs

        - Graph of mercury concentration vs time is obtained for constant concentration of enzyme
        - Graph of enzyme concentration vs activity is obtained.
        - Graph of no of cells vs enzyme concentration graph is obtained.

        Using the graphs, estimation about the optimal enzyme concentration to enable optimum activity must be determined. Thus, the optimum CFU/mL to be used can be estimated.
        
        To provide a range of concentration of enzymes that can be used in order to attain the first graph, we have designed a MATLAB model. 

        We have used **Michaelis Menten Kinetics** to simulate the kinetics of our two enzymes **alkylmercury lyase** and **mercuric reductase.**

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(4, imgpath, "Michaelis Menten kinetics-based enzyme reaction mechanism.", 100)

    :markdown-it(html)
        ___Assumptions to be considered:___
        1. ES formation is much faster than E + P formation i.e. k1, k-1 >>> k2
        2. Steady state condition (ES concentration is constant).

        **Ordinary differential equations (ODEs) used:**
        $$\[\frac{dCH_3Hg}{dt}=\frac{(-(V_{m1}.[CH_3Hg])}{(K_{m1}+[CH_3Hg])}\]$$
        $$\[\frac{d[Hg^{2+}]}{dt}=\frac{(V_{m1}.[CH_3Hg]}{(K_{m1}+[CH_3Hg])}-\frac{(V_{m2}.[Hg^{2+}])}{(K_{m2}+[Hg^{2+}])}\]$$

        We have considered the optimal time range to be **6-7 hours** for complete conversion as the **retention time of food** in the small intestine is about the same.

        ### Observations
        #### Enzyme Concentration **10<sup>-4</sup>**
    .row
        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--tank.png")["default"]
         +image(1, imgpath, "Tank", 100)
    
        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--assembly.png")["default"]
         +image(2, imgpath, "Assembly", 106)

        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--baffles.png")["default"]
         +image(3, imgpath, "Baffles", 79)

    :markdown-it(html)
        <center>Graph for the activity for MerA and MerB at [CH<sub>3</sub>Hg] =2.9 µM, 1.55µM ,0.0358nM</center>
        
        #### Enzyme Concentration  **10<sup>-5</sup>**
    .row
        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--tank.png")["default"]
         +image(1, imgpath, "Tank", 100)
    
        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--assembly.png")["default"]
         +image(2, imgpath, "Assembly", 106)

        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--baffles.png")["default"]
         +image(3, imgpath, "Baffles", 79)

    :markdown-it(html)
        #### Enzyme Concentration  **10<sup>-3</sup>**
    .row
        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--tank.png")["default"]
         +image(1, imgpath, "Tank", 100)
    
        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--assembly.png")["default"]
         +image(2, imgpath, "Assembly", 106)

        .col-md
         - var imgpath = "" + require("../assets/img/Implementation--baffles.png")["default"]
         +image(3, imgpath, "Baffles", 79)

    :markdown-it(html)
        We have chosen the **optimal order of enzyme concentration** to be **10<sup>-4</sup>** as the conversion rate falls within our time range.
        However, more experiments have to be performed to see whether **10<sup>-3</sup> concentration** can be utilized.

        Aim: To describe the activity of the transport system.
        
        Assumptions which were considered:
        - The production of the proteins has already started due to a small amount of CH<sub>3</sub>Hg having diffused inside the cell prior and bound to MerR, initiating the transcription.
        - Amount of protein within the cell will remain constant. 

        CH<sub>3</sub>Hg<sub>out</sub> + MerC ⇔ CH<sub>3</sub>Hg<sub>in</sub> + MerC, (kf1,kr1)
        
        CH<sub>3</sub>Hg<sub>out</sub> + MerP ⇔  MerP-CH<sub>3</sub>Hg  Complex, (kf2,kr2)
        
        MerP-CH<sub>3</sub>Hg   Complex + MerT  ⇔ MerT-CH<sub>3</sub>Hg  Complex + MerP (kf3,kr3)
        
        MerP-CH<sub>3</sub>Hg   Complex + MerE  ⇔ MerE-CH<sub>3</sub>Hg  Complex + MerP (kf4,kr4)
        
        MerT-CH<sub>3</sub>Hg   Complex ⇔ CH<sub>3</sub>Hg<sub>in</sub> + MerT (kf5,kr5)
        
        MerP-CH<sub>3</sub>Hg   Complex ⇔ CH<sub>3</sub>Hg<sub>in</sub> + MerE (kf6,kr6)

        #### Results
        The final ordinary differential equations were obtained.

        $$\[CH_3Hg_{out} = ([MerP-CH_3Hg_{complex}].k_{r2} - \frac{C1.\exp(-t.([MerC].k_{f1} + [MerP].k_{f2})) + [CH_3Hg_{in}].[MerC].k_{r1})}{([MerC].k_{f1} + [MerP].k_{f2})}\]$$
        $$\[CH_3Hg_{in} = ([MerE-CH_3Hg_{complex}].k_{f6} + [MerT-CH_3Hg_{complex}].k_{f5} - \frac{C1.\exp(-[MerC].k_{r1}.t) + [CH_3Hg_{out}].[MerC].k_{f1})}{([MerC].k_{r1})}\]$$

        But due to lack of information about the activities of the protein further analysis could not be performed. Kinetic modelling of these proteins could be a future prospect to enable complete understanding of Mer operon. 

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Allen, M. J., & Sheridan, S. C. (2015). ", "doi": "https://doi.org/10.1007/s00484-015-1117-4", "journal": "International Journal of Biometeorology", "numbers": "62(1), 57-67. ", "title": "Mortality risks during extreme temperature events (ETEs) using a distributed lag non-linear model.", "type": "article"}, {"authors": "Rosano, A., Bella, A., Gesualdo, F., Acampora, A., Pezzotti, P., Marchetti, S., ... & Rizzo, C. (2019). ", "doi": "https://doi.org/10.1016/j.ijid.2019.08.003", "journal": "International Journal of Infectious Diseases", "numbers": "88, 127-134. ", "title": "Investigating the impact of influenza on excess mortality in all ages in Italy during recent seasons (2013/14-2016/17 seasons).", "type": "article"}, {"Google_Books_URL": "https://books.google.co.in/books?id=OYr6AQAAQBAJ", "authors": "Ingalls, B. P.", "publisher": "MIT Press.", "title": "Mathematical modeling in systems biology: An introduction.", "type": "book", "year_published": "(2013)."}, {"details": "(March 15, 2019). Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}, {"authors": "Author Name. (n.d.).", "details": "Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}]