extends ../templates/contents.pug

block headVars
    - var title = "Parts"
    - var tagline = "The parts we have used in our project."
    - var requireMathJax = true

block article

    :markdown-it(html)

        # Introduction
        Two plasmid or composite Bio-Brick designs have been proposed to bring our therapeutic project to life. 
        
        **Plasmid 1** is a modified mer operon designed for the efficient regulation, transport and enzyme production with the control mechanism for Composite Bio-Brick 2 and a reporter gene(SYFP2) present downstream to it on a pSB3K5 vector. It is primarily responsible for detection of methylmercury(or other mercury compounds) using a homodimer protein (merR), its transport into the bacterial system and production of mercury (II) reductase enzyme and alkylmercury lyase. The gene responsible for the production of SoxR protein which controls the release of Interleukin-10 (IL-10) in Composite Bio-Brick 2 has been integrated into this Bio-Brick to ensure release of anti-inflammatory cytokines(IL-10) only during methylmercury induced inflammation. 
        
        **Plasmid 2** is designed for the safe and efficient release of  the anti-inflammatory IL-10. It would contain the control (SoxS promoter), transport(HlyA transport system) and production gene for IL-10 (fused with the signal peptide of the transport) with the reporter gene(GFP) present downstream to it. 
        
        The two plasmids transformed into our probiotic bacteria are proposed to have therapeutic properties for methylmercury poisoning. The individual Bio-Brick sequences are taken from iGEM registry of standard biological parts with the gibson cloning mechanism proposed for ligation. 
        
        We have listed the parts derived from different species separately.

        # Basic Parts

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Parts/Bio-Brick       |   Working Principle  |
        | ------  | :---------: |
        || ___Escherichia coli_ K-12__ ||
        | SoxR [(K554003)](http://parts.igem.org/Part:BBa_K554003)| SoxR is a transcription factor, under conditions of oxidative stress (presence of nitric oxide (NO) a pro-inflammatory signal) by reversible one-electron oxidation of its [2Fe-2S] cluster. In the active state, it activates the SoxS promoter by untwisting the promoter DNA by binding to the long spacer DNA.
        | Double Terminator [(B0015)](http://parts.igem.org/Part:BBa_B0015) | It functions to signal the termination of transcription |
        || ___Shigella flexneri___ ||
        | MerR + RBS [(K346001)](http://parts.igem.org/Part:BBa_K346001) | MerR is a homodimer and the regulatory factor of the Mer operon. It acts as an activator in the presence of Hg (II) and a weak repressor in its absence, maintaining its expression at a certain level. It binds to the operator site of mercury inducible promoter PmerT. The Hg- bound MerR dimer causes a structural distortion of PmerT, which allows the RNA polymerase to bind, leading to the transcription of genes downstream to it. |
        | PmerT promoter [(K346002)](http://parts.igem.org/Part:BBa_K346002) | PmerT is the mercury inducible promoter of Mer operon. The threshold of PmerT depends on the expression level of MerR. |
        || ___Serratia marcescens___ ||
        | MerT [(K1420005)](http://parts.igem.org/Part:BBa_K1420005) | MerT is a transmembrane protein which receives mercury from MerP at its first transmembrane helix and transports it into the cytoplasm of the bacterial cell. |
        | MerP [(K1420003)](http://parts.igem.org/Part:BBa_K1420003) | MerP is the periplasmic component of the Mer transport system which helps in the uptake of mercury inside the cell. It binds to a single Hg (II) ion using its two conserved cysteine residues, which define its metal-binding motif. It detaches attached ligands before passing the Hg (II) on to MerT transmembrane protein. |
        | MerA [(K1420001)](http://parts.igem.org/Part:BBa_K1420001) | MerA encodes the mercury reductase enzyme. It reduces Hg (II) to relatively inert and volatile Hg (0) in an NADPH dependent reaction. |
        | MerB [(K1420002)](http://parts.igem.org/Part:BBa_K1420002) | MerB encodes the organomercurial lyase enzyme and is usually found immediately downstream to MerA. It catalyses breaking the bond between carbon and mercury through the protonolysis of compounds such as methylmercury. |
        || ___Aequoria victoria___ ||
        | Bright Yellow Fluorescent Protein SYFP2 [(K864100)](http://parts.igem.org/Part:BBa_K864100) | SYFP2 is a GFP based monomeric protein with optimized folding, maturation, and a narrow fluorescence emission spectrum with a maximum of 515 nm. |
        | GFP/ Green Fluorescent Protein [(E0040)](http://parts.igem.org/Part:BBa_E0040) | Green Fluorescent Protein (GFP) acts as a critical reporter gene to assess the functioning of plasmid by emitting green fluorescence when excited by light in the blue-UV spectrum. Typically, the excitation wavelength measurement range is 430-520 (nm) and the emission wavelength measurement range is 490-580 (nm). |
        || ___Pseudomonas nitroreducens___ ||
        | SoxS promoter [(K554000)](http://parts.igem.org/Part:BBa_K554000) | SoxS is a conditional promoter, regulated by the SoxR transcription factor. In the active state, SoxR activates the SoxS promoter and starts the transcription of the genes downstream to it. |
        || ___Escherichia coli_ O157 H7 strain EDL 933__ ||
        | HlyB/ Hemolysin B [(K554007)](http://parts.igem.org/Part:BBa_K554007) | HlyB acts as an ATP-binding cassette and recognizes the substrate via its secretion signal peptide (HlyA). It exports proteins (like IL-10) fused to the secretion signal produced inside the bacteria that must act on targets outside and is responsible for the specificity of the secretion system process |
        | HlyD/ Hemolysin D [(K554008)](http://parts.igem.org/Part:BBa_K554008) | It acts as a membrane fusion or adaptor protein by linking the HlyB and TolC domains of the Hemolysin transport system and helps with the transportation of proteins. |
        | TolC [(K554009)](http://parts.igem.org/Part:BBa_K554009) | TolC is a specific outer membrane protein which forms a long channel throughout the periplasm and the outer membrane. |
        | HlyA/ Hemolysin A [(K554002)](http://parts.igem.org/Part:BBa_K554002) | HlyA is a signal sequence that interacts with the cytoplasmic region of the HlyB–D complex. After the binding of the HlyA secretion signal by the HlyB–D complex, HlyD induces the interaction with TolC which then transports it out of the cell. |
        || ___Homo sapiens_ (Th1 cell)__ ||
        | IL-10/ Interleukin 10 [(K554004)](http://parts.igem.org/Part:BBa_K554004) | Interleukin 10 (IL-10) is an anti-inflammatory cytokine which plays a role in limiting the host immune response so that the host does not harm its own cells and maintains normal tissue homeostasis.  |
        || ___Parts without a natural comparator___||
        | Constitutive Promoter [(J23100)](http://parts.igem.org/Part:BBa_J23100) | Constitutive promoter helps tune the expression levels of constitutively (continuously) expressed parts. |
        | MerC + RBS [(K346088)](http://parts.igem.org/Part:BBa_K346088) | MerC is a transmembrane component of the Mer transport system which helps in the uptake of mercury inside the cell.  |
        | RBS with MerE [(K1471002)](http://parts.igem.org/Part:BBa_K1471002) | MerE is a transmembrane component of the Mer transport system which helps in the uptake of mercury inside the cell and transport of organomercury compounds. |
        | RBS [(B0034)](http://parts.igem.org/Part:BBa_B0034) | A ribosomal binding site, or ribosome binding site (RBS), is a short sequence of nucleotides present upstream of the start codon of a gene in mRNA.  |

        [Table 1: List of Basic Parts and their source organisms.]

        # Composite Parts

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Part Number |  Part Name  |
        | ------      | :---------: |
        | [BBa_K3470004](http://parts.igem.org/Part:BBa_K3470004) | Modified mer operon  |
        | [BBa_K3470005](http://parts.igem.org/Part:BBa_K3470005) | Methylmercury transport system design-1   |
        | [BBa_K3470006](http://parts.igem.org/Part:BBa_K3470006) | Methylmercury control system   |
        | [BBa_K3470007](http://parts.igem.org/Part:BBa_K3470007) | Methylmercury Transport system design-1 (Without MerR) |
        | [BBa_K3470008](http://parts.igem.org/Part:BBa_K3470008) | Methylmercury Transport system design-2 (Without MerR) |
        | [BBa_K3470009](http://parts.igem.org/Part:BBa_K3470009) | Methylmercury Transport system design-3 (Without MerR) |
        | [BBa_K3470010](http://parts.igem.org/Part:BBa_K3470010) | Methylmercury Transport system-merP (Without MerR) |
        | [BBa_K3470011](http://parts.igem.org/Part:BBa_K3470011) | Methylmercury Transport system-merT (Without MerR) |
        | [BBa_K3470012](http://parts.igem.org/Part:BBa_K3470012) | Methylmercury Transport system-merC (Without MerR) |
        | [BBa_K3470013](http://parts.igem.org/Part:BBa_K3470013) | Anti-inflammation control mechanism |
        | [BBa_K3470014](http://parts.igem.org/Part:BBa_K3470014) | Anti-inflammation transport system  |
        | [BBa_K3470015](http://parts.igem.org/Part:BBa_K3470015) | Anti-inflammation control mechanism (without SoxR) |
        | [BBa_K3470016](http://parts.igem.org/Part:BBa_K3470016) | Methylmercury breakdown mechanism (Without MerA)   |
        | [BBa_K3470017](http://parts.igem.org/Part:BBa_K3470017) | Methylmercury breakdown mechanism (Without MerB) |
        | [BBa_K3470021](http://parts.igem.org/Part:BBa_K3470021) | Methylmercury Transport system-merE (Without MerR) |
        | [BBa_K3470022](http://parts.igem.org/Part:BBa_K3470022) | MerA + His-tag   |
        | [BBa_K3470023](http://parts.igem.org/Part:BBa_K3470023) | MerB + His-tag |
        | [BBa_K3470024](http://parts.igem.org/Part:BBa_K3470024) | MerA + MerB + His-tag |

        [Table 2: List of Composite Parts designed for experimentation.]