extends ../templates/contents.pug

block headVars
    - var title = "Special Prizes"
    - var tagline = "This page outlines the special prizes we wish to participate for."
    - var requireMathJax = false

block article

    :markdown-it(html)

        # Best Hardware
        **Systematic Analysis of Underlying Limitations** was designed with the aim of providing a more **dynamic platform** for the analysis of probiotics. We imagined a device which could **simulate** and help **understand** various conditions of the **stomach** and **gut** environment. To achieve this, we designed a **simple device** to bring the **mechanical conditions** to life, and act as a ground to perform laboratory experiments for testing **physiological conditions**.
        Furthermore, we wrote a detailed procedure about the assembly of the parts and experimentation, however due to lack of access to labs we were unable to build it. We have also performed structural analysis using **ANSYS** (Static Structural Workbench). This journey enabled us to not only make a device but also to gain a new perspective of the gastrointestinal tract. 
        
        For more information: [Hardware](Hardware)

        # Best Education
        The COVID-19 pandemic made it extremely difficult for us to interact with people and spread the beauty of biology. However, the show must go on! In order to spread awareness about our project and synthetic biology, we organized a **BIOSUMMIT** and a **webinar** as well as designed a **cookbook** and a **game**.
        We also wrote **a newspaper article** about methylmercury in the local language of Kannada which is yet to be published. 
        
        For more information: [Education](Education)

        # Best Sustainable Development Impact
        In collaboration with **The Dais India, EMERGE, BITSMUN Goa, and iGEM BITS Goa,** we organized the first-ever national-level iGEM India BIOSUMMIT 2020 on 25th July 2020.
        We focused on **8 SDGs:** Food and Health, Clean Water and Sanitation, Decent Work and Economic Growth, Industry, Innovation and Infrastructure, Reduced Inequalities, Responsible Consumption and Production, Climate Action and Peace, Justice and Strong Institutions.
        Our aim was to lead a **healthy discussion** revolving around **these goals** which were discussed in brief in four committees namely - Ethics of Terraforming, Medical Data Privacy, Prevention of Biowarfare, and Genetic Cosmetic Treatments. There was **substantial outstation participation** and each participant contributed to the discussion by adding on to each other's information, identifying problems, and providing solutions in a **healthy collaborative manner** which led to interesting conclusions from each committee.

        We have also curated data about **cheapest nitrogen sources** in different states of India as well to follow responsible consumption and production. As a source of carbon in our bioprocess, we have used components which **cannot be used** as food for humans as well as animals.
        We have also done extensive surveys and curated data about the amount of fish consumed per capita and related it to the number of pills to be manufactured to **prevent wastage of resources**. **Safety aspects** of our project have been explored in high detail (Refer to iGEM MIT_MAHE safety handbook).
        
        For more information: 
        - [Education](Education)
        - [Human Practices](Human_Practices)
        - [Safety](Safety)

        # Best Integrated Human Practices
        **Methylmercury poisoning** affects innumerable people, primarily but not limited to **fish eating communities.** Fishes are not only an important part of their diet but also their cultures. Several fish festivals are celebrated throughout India and the world and it is a source of income to many. To emphasize on the **dangers of methylmercury** in our native country we have also depicted multiple **graphs, graphics** etc correlating the most **high risk zones** to the number of industries and mines as well as the high number of fish consumers in that area. Throughout our iGEM journey, we consulted many experts who suggested several changes and considerations.
        Through Integrated Human Practices, we ensured that: we would not be using resources which could be used as **food** for humans and animals, **several nitrogen sources** were considered to ensure cost and wastage reductions, **capsule** considerations were changed to have two variants to accommodate children, etc. Thus, our project evolved to become more inclusive, cost effective, resourceful and safe.

        For more information: 
        [Human Practices](Human_Practices)


