/**
 * Footer
 **/

 $background: #2c3e50;
 $background-dark: #375A7F;
 $link: #18bc9c;
 
 footer {
   background-image: url("../assets/img/Footer--bg.png");
   background-position: center;
   width: 100vw;
   padding: 20px 0;
   padding-bottom: 30px;
   font-family: 'Lato', sans-serif;
   p {
     font-size: 1.1rem;
     margin-bottom: 0;
     text-align: center;

     &:last-of-type {
       margin-bottom: 1.5rem;
     }
   }
}

#footerTeamLogo {
  background-image: url("../assets/img/Footer--logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 234px;
  background-size: contain;
  margin: 0 30px 10px;
  display: inline-block;
}

@include respond-below(xs) {
  #footerTeamLogo {
    margin-left: 15px;
    margin-right: 15px;
  }
}

#footerIcons {
  width: 100%;
  height: 25px;
  margin: 0;

  a {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin: 0 25px;
    transition: all 0.2s;

    filter: brightness(0) saturate(100%) invert(57%) sepia(0%) saturate(2%)
      hue-rotate(36deg) brightness(94%) contrast(88%);

    &:hover {
      filter: brightness(0) saturate(100%) invert(39%) sepia(0%) saturate(0%)
        hue-rotate(208deg) brightness(94%) contrast(87%);
    }
  }

  a.gmail {
    background-image: url(../assets/icons/envelope-open-text-solid.svg);
  }

  a.insta {
    background-image: url(../assets/icons/instagram-brands.svg);
  }

  a.twitter {
    background-image: url(../assets/icons/twitter-brands.svg);
  }

  a.facebook {
    background-image: url(../assets/icons/facebook.svg);
  }  

}

 body.dark {
   footer {
     background-color: $background-dark;
   }
 }