/**
 * Footer
 **/

$background: #2c3e50;
$background-dark: #375A7F;
$link: #18bc9c;

footer {
  background: url(../assets/img/Footer--bg.png);
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 5rem 0 0 0;
  padding: 3rem 0 4rem 0;
  color: white;
  font-family: "Lato";
  font-size: 1rem;

  p {
    margin: 0;
  }

  a {
    color: $link;
    transition: color 0.3s ease;

    &:hover {
      color: $link;
      text-decoration: underline;
    }
  }
}

body.dark {
  footer {
    background-color: $background-dark;
  }
}
