/** 
* Navbar 
**/

$navBG: #051e016e;
$navItem: white;
$navItemHover: #18bc9c;

$navBG-dark: #375A7F;
$body-dark: #222222;
$dropdown-border-dark: rgb(68, 68, 68);

.navbar {
  height: 70px;
  transition: all 0.3s ease, transform 0.5s ease;
  background: $navBG;
  color: white;
  padding: 0;

  .navbar-brand {
    font-size: 1.75rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 0.07em;
    position: relative;
    z-index: 200;
    transition: transform 0.3s;
    color: white;

    span {
      font-size: 1rem;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      letter-spacing: 0.07em;
      position: relative;
      z-index: 200;
      transition: transform 0.3s;
      color: white;
    }

    &:hover {
      color: white;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-collapse {
    transition: all 0.3s ease, transform 0.5s ease;
  }

  li {
    padding: 0 0.25rem;
    text-transform: uppercase;
  }

  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.07em;
    font-size: 1rem;
    color: $navItem;

    &:hover {
      color: $navItemHover;
    }
  }

  .dropdown-menu {
    background-color: $navBG;
    a {
      color: white;

      &:hover {
        background-color: $navBG;
        color: $navItemHover;
      }
    }
  }
}


@include respond-below(lg) {
  .navbar {
    .navbar-brand {
      font-size: 1.5rem;
      margin-left: 3rem;

      a {
        font-size: 1rem;
      }
    }
    .container {
      max-width: none;
      height: 100%;
    }

    button {
      height: 100%;
      margin-right: 11rem;
    }

    .navbar-collapse {
      padding: 0 3rem 1.5rem 3rem;
    }
  }
  #themeSwitchWrapper {
    position: absolute;
    right: 3rem;
  }
}

@include respond-below(xs) {
  .navbar {
    .navbar-brand {
      margin-left: 1rem;
    }

    button {
      margin-right: 9rem;
    }

    .navbar-collapse {
      padding: 0 1rem 1.5rem 1rem;
    }
  }
  #themeSwitchWrapper {
    right: 1rem;
  }
}

@include respond-below(xxs) {
  .navbar {

    button {
      margin-right: 1rem;
    }
  }
  #themeSwitchWrapper {
    display: none !important;
  }
}