@import "_main.scss";


// #themeSwitchWrapper {
//   display: none !important;
// }

header {
  margin: 10rem 0 0 0;
  font-family: "Lato", sans-serif;

  h1 {
    font-weight: 300;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
  }

  p.lead {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
  }
  img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }

  hr {
    background: #e2e2e3;
  }
}

main {
  margin-top: 4rem;
  font-family: "Piazzolla", serif;

  .card {
    color: #222222;
    background: #D5E48F;
    margin: 1.5rem 0.5rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;

    &:hover {
      transform: rotateY(180deg);
    }

    .thefront {
     width: 100%;
     height: 100%;
     border-radius: 10px;
     backface-visibility: hidden;
     overflow: hidden;
     background: #d5e48f;
     color: #222222;
     }

    .theback {
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     backface-visibility: hidden;
     overflow: hidden;
     background: #d5e48f;
     color: #222222;
     transform: rotateY(180deg);
     }

    .row {
      scroll-margin-top: 150px;
    }
  }

  img {
    max-width: 100%;
    display: block; /* remove extra space below image */
  }
}
