@import "_main.scss";


// #themeSwitchWrapper {
//   display: none !important;
// }

header {
  margin: 8rem 0 0 0;
  font-family: "Lato", sans-serif;

  h1 {
    color: white;
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
  }

  p.lead {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
  }
  img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  p {
    color: white;
    font-size: 1.1rem;
  }

  hr {
    background: #e2e2e3;
  }
}

main {
  margin-top: 2rem;

  .container {
    margin-top: 2.5rem;
  }

  .card {
    perspective: 1000px;
    color: #222222;
    background: #D5E48F;
    margin: 1.5rem 0.5rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    font-family: "Piazzolla", serif;

    &:hover {
      transform: rotateY(180deg);
    }

    .thefront {
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     overflow: hidden;
     background: #d5e48f;
     color: #222222;
     -webkit-backface-visibility: hidden;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.637);
     }

    .theback {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     overflow: hidden;
     background: #d5e48f;
     color: #222222;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.637);
     transform: rotateY(180deg);
     }

    .thefront h5, .theback h5{
      font-family: 'piazzolla', sans-serif;
      font-weight: bold;
      font-size: 20px;
    }

    .row {
      scroll-margin-top: 150px;
    }
  }

  img {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    max-width: 100%;
    position: relative;
    display: block; /* remove extra space below image */
  }
}
